{% extends "account/base.html" %}
{% block head_title %}Confirmar E-mail{% endblock %}

{% block content %}
<h1>Confirmar E-mail</h1>

{% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    {% if can_confirm %}
        <p>Por favor, confirme que <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> é um endereço de email para o usuário {{ user_display }}.</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit">Confirmar</button>
        </form>
    {% else %}
        <p>Não foi possível confirmar {{ confirmation.email_address.email }} porque já está confirmado por uma conta diferente.
        </p>
    {% endif %}
{% else %}
    {% url 'account_email' as email_url %}
    <p>Este link de confirmação de email expirou ou é inválido. Por favor, <a href="{{ email_url }}">solicite uma nova confirmação de email</a>.</p>
{% endif %}
{% endblock %}