{% extends "account/base.html" %}

{% block head_title %}Endereço de Email{% endblock %}

{% block content %}
<h1>Endereço de Email</h1>
{% if emailaddresses %}
{% if current_emailaddress %}
<p>
    O seguinte endereço de email está associado à sua conta: <a href="mailto:{{ current_emailaddress.email }}">{{ current_emailaddress.email }}</a>
</p>
{% endif %}
{% if new_emailaddress %}
<p>
    Seu endereço de email ainda está pendente de verificação: <a href="mailto:{{ new_emailaddress.email }}">{{ new_emailaddress.email }}</a>
</p>
<form method="post" action="{% url 'account_email' %}">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
    <button type="submit" name="action_send">Reenviar Verificação</button>
</form>
{% endif %}