{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block head_title %}
Log-in
{% endblock %}

{% block content %}
<h2 class="fw-bold mb-5">Entrar no Sistema</h2>

{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% else %}
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}

    {# {{form.as_p}} #}

    {{ form.non_field_errors|safe }}
    <input type="hidden" name="remember" value="true" />
    <div class="form-floating">
      {{ form.login.errors|safe }}
      {% render_field form.login placeholder="Login" id="id_login" name="login" type="text" autocomplete="username" required=True class="form-control" %}
      <label for="login" class="floatingInput">Usuário</label>
    </div>
    <div class="form-floating">
      {{ form.password.errors|safe }}
      {% render_field form.password placeholder="password" id="id_password" name="password" type="password" autocomplete="password" required=True class="form-control mt-3" %}
      <label for="id_password" class="floatingInput">Senha</label>
    </div>

    <div class="d-flex flex-column flex-lg-row justify-content-between mt-2">
      <p style="font-size: 14px;" class="mb-0">
        Não tem conta?

        <a href="{% url 'account_signup' %}" class="fw-bold links">Cadastre-se</a>
      </p>

      <a class="button secondaryAction fw-bold mb-2 links" href="{% url 'account_reset_password' %}"
        style="font-size: 14px;">Esqueceu a Senha?</a>
    </div>
    <button class="primaryAction btn btn-success w-100" type="submit">Entrar</button>
  </form>
{% endif %}
{% endblock %}