{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% load account %}

{% block head_title %}Redefinição de Senha{% endblock %}

{% block content %}
<h1>Redefinição de Senha</h1>
{% if user.is_authenticated %}
  {% include 'account/snippets/already_logged_in.html' %}
{% endif %}

<p>
  Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail permitindo que você o redefina.
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}

  {{ form.non_field_errors|safe }}
  <div>
    <div class="form-floating">
      {{ form.email.errors|safe }}
      {% render_field form.email placeholder="email" id="id_email" name="email" type="email" autocomplete="email" required=True class="form-control" %}
      <label for="id_email" class="floatingInput">Email</label>
    </div>
  </div>

  <input type="submit" class="btn btn-success mt-2" value="Redefinir Minha Senha" />

</form>

<p>
  Por favor, entre em contato conosco se tiver algum problema para redefinir sua senha.
</p>
{% endblock %}