{% extends "account/base.html" %}

{% block head_title %}Alterar Senha{% endblock %}

{% block content %}
    <h1>{% if token_fail %}Token Inválido{% else %}Alterar Senha{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma <a href="{{ passwd_reset_url }}">nova redefinição de senha</a>.</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="Alterar Senha"/>
        </form>
    {% endif %}
{% endblock %}