{% extends "account/base.html" %}

{% block head_title %}Alterar Senha{% endblock %}

{% block content %}
    <h1 class="mb-4">Alterar Senha</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field.errors|safe }}
                {% render_field field class="form-control" %}
                <label for="{{ field.id_for_label }}" class="floatingInput">{{ field.label }}</label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success" name="action">Alterar Senha</button>
        <a class="btn btn-secondary" href="{% url 'user_update' %}" role="button">Voltar</a>
    </form>
{% endblock %}