{% extends "account/base.html" %}

{% block head_title %}Confirmar Acesso{% endblock %}

{% block content %}

<h1>Confirmar Acesso</h1>

<p>Para salvaguardar a segurança da sua conta, por favor, insira sua senha:</p>

<form class="reauthenticate" method="POST" action="{% url 'account_reauthenticate' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Confirmar</button>
</form>

{% endblock %}