{% extends "account/base.html" %}

{% block head_title %}Verifique Seu Endereço de Email{% endblock %}

{% block content %}
<h1>Verifique Seu Endereço de Email</h1>

<p>Enviamos um email para você para verificação. Siga o link fornecido para finalizar o processo de inscrição. Se você não vê o e-mail de verificação na sua caixa de entrada principal, verifique sua pasta de spam. Por favor, entre em contato conosco se você não receber o email de verificação dentro de alguns minutos.</p>

{% endblock %}