{% extends "account/base.html" %}

{% block head_title %}Verifique Seu Endereço de Email{% endblock %}

{% block content %}
<h1>Verifique Seu Endereço de Email</h1>

{% url 'account_email' as email_url %}

<p>Esta parte do site requer que verifiquemos quem você afirma ser. Para isso, exigimos que você verifique a propriedade do seu endereço de email.</p>

<p>Enviamos um email para você para verificação. Clique no link dentro desse email. Se você não vê o email de verificação na sua caixa de entrada principal, verifique sua pasta de spam. Caso contrário, entre em contato conosco se você não receber dentro de alguns minutos.</p>

<p><strong>Nota:</strong> você ainda pode <a href="{{ email_url }}">alterar seu endereço de email</a>.</p>

{% endblock %}