body {
  min-height: 100vh;
  background-color: #fff7e0;
}

main {
  flex: 1;
}

h1,
h2 {
  font-family: 'Candal', sans-serif;
  color: #105f26 !important;
}

.bg-green {
  background-color: #007b23;
}

.bg-light-green {
  background-color: #7cdc7d;
}

.bg-light-green:hover {
  background-color: #3bb03d60;
}

.bg-dark-green {
  background-color: #105f26;
  color: white;
}

.text-green {
  color: #007b23;
}

.text-dark-green {
  color: #21561a;
}

.text-light-green {
  color: #7cdc7d;
}

@media (min-width: 768px) {
  .btn-navbar {
    width: 8rem;
  }
}

.navbar-brand {
  font-family: 'Candal', sans-serif;
}

.navbar-brand img {
  width: 60px;
}

#navbarToggler .nav-item {
  width: 100%;
  text-align: left;
}

.navbar .nav-link {
  font-size: large;
  font-weight: bold;
  color: white;
}

.btn:hover {
  background-color: #fff7e0;
  color: #105f26;
  border: 0;
  transform: scale(0.98);
}

.btn-action {
  height: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Landing Page */

.conteudo {
  background-image: url("/static/main/img/s.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 50px;
  padding-bottom: 100px;
  height: 100vh;
}

.landing-page-text {
  font-weight: 600;
  font-family: 'Candal', sans-serif;
}

#landing-page-text-one {
  color: #01401F;
  text-shadow: #FFF7E0 0.12em 0.15em 0.05em;
}

#landing-page-text-two {
  text-shadow: black 0.1em 0.3em 0.2em;
}

.card-landing-page {
  background-color: #7CDC7D;
}

.card-landing-page:hover {
  background-color: #6fff72;
  transform: scale(1.02);
}

.card-landing-page .card-title {
  color: #21561A;
}


#ondas-container {
  z-index: -2;
}

@media (min-width: 768px) {
  .h-100vh {
    min-height: 65vh;
  }

  .dark-green-bg {
    background-color: #105f26;
  }
}

@media (min-width: 992px) {
  .h-100vh {
    min-height: 80vh;
  }

  .dark-green-bg {
    background-color: #105f26;
  }
}

@media (min-width: 1200px) {
  .h-100vh {
    min-height: 100vh;
  }

  .dark-green-bg {
    background-color: #105f26;
  }
}

/* Disciplinas */

.card-subject a {
  aspect-ratio: 1/1;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.card-subject a span {
  white-space: nowrap;
  font-size: clamp(0.7rem, 0.72rem, 0.9rem);
}

/* Desempenho */

.assessment,
.grade {
  font-weight: bold;
  color: #21561a;
}

.card-assessment {
  aspect-ratio: 1/1;
}

.card-frequency {
  width: 8rem;
  height: 8rem;
}