body {
    min-height: 100vh;
    background-color: #FFF7E0;
    background-image: url('/static/main/img/s.png'); 
    background-size: contain; 
    background-position: right;
    background-repeat: no-repeat;
}

main {
    flex: 1;
}

.bg-green {
    background-color: #007B23;
}

.bg-light-green {
    background-color: #7CDC7D;
}

.bg-dark-green {
    background-color: #105f26;
    color: white;
}

.text-green {
    color: #007B23;
}

.text-dark-green {
    color: #105f26;
}

.text-light-green {
    color: #7CDC7D;
}

@media (min-width: 768px) {
    .btn-navbar {
        width: 8rem;
    }
}

.navbar-brand img {
    width: 60px;
}

.btn:hover {
    background-color: #FFF7E0;
    color: #105f26;
    border: 0;
    transform: scale(0.98);
}

.esquerda{
    background-image: url('/static/main/img/formapera.svg'); 
    background-size: 100%; 
    background-repeat: no-repeat;
    height: max-content;
}

.direita{
    
}

.circulo {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circulo img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
  
.btn-action {
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Disciplinas */

.card-subject a {
    font-size: 0.7rem; 
    aspect-ratio: 1/1;
}