{% extends "base.html" %}

{% block title %}SGE-GP | Eventos{% endblock title %}

{% block aside %}
{% include "main/snippets/aside.html" %}
{% endblock aside %}

{% block content %}
<div class="col-12 col-md-9">
  <div class="row g-2">
    <div class="col-12 fs-5">
      <h1>{{ object }}</h1>
      <h3>Matriculados</h3>
      <table class="table table-success table-hover table-striped border border-success">
        <thead class="border-start border-success">
          <tr>
            <th scope="col" class="border border-success">Nome do Estudante</th>
            <th scope="col">Código de Matrícula</th>
          </tr>
        </thead>
        <tbody>
          {% for student in object.enrolled.all %}
          <tr>
            <td>{{ student }}</td>
            <td class="border-start border-success">{{ student.code }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <a href="{% url 'main:classes' %}" class="btn btn-success btn-sm me-1" role="button" style="height: min-content;">
        <i class="bi bi-arrow-left"></i>
        Voltar
      </a>
      {% if user.type == 'coordinator' %}
      <button type="button" class="btn btn-sm btn-danger me-1" data-bs-toggle="modal" data-bs-target="#deleteModal">
        <i class="bi bi-trash"></i>
        Excluir
      </button>
      <a href="{% url 'main:edit-class' object.pk %}" class="btn btn-sm btn-warning" role="button">
        <i class="bi bi-pencil"></i>
        Editar
      </a>
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Tem certeza de que deseja excluir esta turma?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="{% url 'main:delete-event' object.pk %}" role="button" class="btn btn-danger">
                <i class="bi bi-trash"></i>
                Excluir
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}