{% extends "base.html" %}
{% load static%}

{% block title %}Conheça o SGE-GP{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="esquerda">
            <h1>Conheça o nosso sistema!</h1><br>
            <p>O Sistema de Gestão Educacional do Geraldo Palmeira possibilita a conexão dos alunos com a instituição!</p><br>
            <p>Acompanhe seu desempennho escolar e suas atividades.</p>
        </div>
    </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="direita">
                <div class="circulo">
                    <img src="{%static 'main/img/estudante-com-computador-que-estuda-na-escola-33080012.jpg'%}" alt="Estudantes"></div>
                </div>
        </div>
    
</div>
</div>
{% endblock content %}