{% extends "base.html" %}
{% load static%}

{% block title %}Conheça o SGE-GP{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-6">
        <div class="descricao">
            <h1>Conheça o nosso sistema!</h1><br>
            <p>O Sistema de Gestão Educacional do Geraldo Palmeira possibilita a conexão dos alunos com a instituição!</p><br>
            <p>Acompanhe seu desempennho escolar e suas atividades.</p>
        </div>
    </div>
</div>
</div>
{% endblock content %}