{% extends "base.html" %}

{% block title %}SGE-GP | Turmas{% endblock title %}

{% block head %}
<style>
  #id_class_diary {
    height: 12rem;
  }

  #id_attendance_list,
  .attendance_list-col {
    height: 100%;
  }

  .attendance_list-form-floating{
    height: 90%;
  }
</style>
{% endblock head %}

{% block aside %}
  {% include "main/snippets/aside.html" %}
{% endblock aside %}

{% block content %}
<div class="col-12 col-md-9">
  <h1>Lançar Aula</h1>
  <form method="post" class="row mt-3">
    {% if form.errors %}
    <div class="col-12">
    <div class="alert alert-danger alert-dismissible fade show">
      {% for field in form %}
        {% for error in field.errors %}
          <strong>{{ field.label }}:</strong> {{ error|escape }}
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <strong>Non-field error:</strong> {{ error|escape }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
    {% endif %}
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
          {% render_field form.subject placeholder=form.subject.label required=True class="form-control" %}
          <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
        </div>

      <div class="form-floating mb-3">
        {% render_field form.date placeholder=form.date.label required=True class="form-control" %}
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
      </div>

      <div class="form-floating mb-3">
        {% render_field form.class_diary placeholder=form.class_diary.label required=True class="form-control" %}
        <label for="{{ form.class_diary.id_for_label }}">{{ form.class_diary.label }}</label>
      </div>
    </div>
    <div class="col-12 col-md-6">
    <div class="mb-3 attendance_list-col">
      <div class="form-floating attendance_list-form-floating">
        {% render_field form.attendance_list required=True class="form-control" %}
        <label for="{{ form.attendance_list.id_for_label }}">{{ form.attendance_list.label }}</label>
      </div>
      <small class="form-text d-none d-md-block">
        Segure <kbd>Ctrl</kbd> para selecionar mais de um aluno.
      </small>
      <small class="form-text d-md-none">
        Toque e segure para selecionar mais de um aluno.
      </small>
    </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
      <a href="{% url 'main:subjects' %}" class="btn bg-dark-green me-3" role="button" style="height: min-content;">
          <i class="bi bi-arrow-left"></i>
          Voltar
      </a>
      <button type="submit" class="btn bg-dark-green mb-2">Lançar Aula</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
$(document).ready(function() {
  select_subject = '<option>Selecione uma disciplina...</option>'
  $("#id_attendance_list").html(select_subject);

  $('#id_subject').change(function() {
    var subjectId = $(this).val();

    if (!subjectId) {
      $("#id_attendance_list").html(select_subject);
      return;
    }

    $.ajax({
      url: "{% url 'main:get_students_for_subject' %}",
      data: {
        'subject': subjectId
      },
      success: function(data) {
        var options = '';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
        }
        $("#id_attendance_list").html(options);
      }
    });
  });
});
</script>
{% endblock script %}
