{% extends "base.html" %}

{% block title %}SGE-GP | Disciplinas{% endblock title %}

{% block head %}
<style>
  #id_class_diary {
    height: 12rem;
  }
  #id_attendance_list {
    height: 12rem;
  }
</style>
{% endblock head %}

{% block aside %}
  {% include "main/snippets/aside.html" %}
{% endblock aside %}

{% block content %}
<div class="col-12 col-md-9">
  <div class="row">
    <form method="post" class="col-12">
      {% csrf_token %}
      {% load widget_tweaks %}

      <div class="form-floating mb-3">
        {% render_field form.subject placeholder=form.subject.label required=True class="form-control" %}
        <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
      </div>

      <div class="form-floating mb-3">
        {% render_field form.class_code placeholder=form.class_code.label required=True class="form-control" %}
        <label for="{{ form.class_code.id_for_label }}">{{ form.class_code.label }}</label>
      </div>

      <div class="form-floating mb-3">
        {% render_field form.date placeholder=form.date.label required=True class="form-control" %}
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          {% render_field form.attendance_list required=True class="form-control" %}
          <label for="{{ form.attendance_list.id_for_label }}">{{ form.attendance_list.label }}</label>
        </div>
        <small class="form-text d-none d-md-block">
          Pressione <kbd>Ctrl</kbd> para selecionar mais de um aluno.
        </small>
        <small class="form-text d-md-none">
          Toque e segure para selecionar mais de um aluno.
        </small>
      </div>

      <div class="form-floating mb-3">
        {% render_field form.class_diary placeholder=form.class_diary.label required=True class="form-control" %}
        <label for="{{ form.class_diary.id_for_label }}">{{ form.class_diary.label }}</label>
      </div>

      <button type="submit" class="btn bg-dark-green mb-2">Lançar Aula</button>
    </form>
  </div>
</div>
{% endblock content %}